{% extends "base.html" %} {% block content %}
<section class="informe">
  <h2>Agrupaciones de Datos</h2>
  {% for tipo, df in datos_agrupados.items() %}
  <h3>Agrupación por {{ tipo }}</h3>
  <div class="stats-container">
    <table>
      <tr>
        {% for columna in df.columns %}
        <th>{{ columna }}</th>
        {% endfor %}
      </tr>
      {% for fila in df.values %}
      <tr>
        {% for valor in fila %}
        <td>{{ valor }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</section>
{% endblock %}
