{% extends "base.html" %} {% block content %}
        <section class="informe">
            <h2>Estadísticas Generales</h2>
            <div class="stats-container">
                <table>
                    <tr>
                        <th>Métrica</th>
                        <th>Valor</th>
                    </tr>
                    {% for clave, valor in datos.items() %}
                    <tr>
                        <td>{{ clave }}</td>
                        <td>{{ valor }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </main>
    {% endblock %}